Moduli_PA/PIN/PIN_modulo_2_2018_SCIA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:pinscia="http://www.vigilfuoco.it/MODULI_PA/PIN/modulo_2_2018_SCIA"
    xmlns:pincommon="http://www.vigilfuoco.it/MODULI_PA/PIN/pin_common_components"
    xmlns:moduli="http://www.agid.gov.it/MODULI_PA/moduli_common_components"
    xmlns:aggregate="http://www.agid.gov.it/AgID_aggregate_components"
    xmlns:basic="http://www.agid.gov.it/AgID_basic_components"
    xmlns:enumeration="http://www.agid.gov.it/AgID_enumeration"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.vigilfuoco.it/MODULI_PA/PIN/modulo_2_2018_SCIA"
    elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.0">

	<xs:import namespace="http://www.vigilfuoco.it/MODULI_PA/PIN/pin_common_components" schemaLocation="PIN_common_components.xsd"/>    
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/moduli_common_components" schemaLocation="../MODULI_common_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_basic_components" schemaLocation="../../AgID_Vocabularies/AgID_basic_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_aggregate_components" schemaLocation="../../AgID_Vocabularies/AgID_aggregate_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_enumeration" schemaLocation="../../AgID_Vocabularies/AgID_enumeration.xsd"/>

	<xs:annotation>
        <xs:documentation>
                PIN 2-2018 Segnalazione certificata inizio attività ai fini della sicurezza antincendio          
        </xs:documentation>
    </xs:annotation>
 
	<xs:element name="ModuloScia" type="pinscia:ModuloSCIAType"/>

	<xs:complexType name="ModuloSCIAType" >
  		<xs:complexContent>
  			<xs:extension base="pincommon:ModuloBaseType">
  				<xs:sequence>
  					<!-- CORPO DEL MODULO -->
  					<xs:element name="riferimentoProgetto" type="pinscia:RiferimentoProgettoType" minOccurs="1" maxOccurs="1"/>
  					<!-- SEGNALA -->
  					<xs:element name="attivita" type="pincommon:AttivitaPrincipaleType"/>
  					<xs:element name="codiceAttivita" type="pincommon:CodiceAttivitaType" minOccurs="1" maxOccurs="unbounded"/>
  					<xs:element name="sedeCustodiaFascicoloScia" type="pincommon:CorrispondenzaType"/>
  					<xs:element name="RtoRtV" type="basic:EmptyType"  minOccurs="0"/>
  					<xs:element name="distintaVersamento" type="pincommon:DistintaVersamentoType"/>
  					<xs:element name="datiPerCorrispondenza" type="pincommon:CorrispondenzaType"  minOccurs="0"/>
  					
  					<!-- ALLEGATI -->
  					<xs:element name="tabellaAllegati" type="pinscia:TabellaAllegatiType"/> 
  				</xs:sequence>
  			</xs:extension>	
  		</xs:complexContent>
  	</xs:complexType>
    	
  	<xs:complexType name="RiferimentoProgettoType">
  	  	<xs:sequence>
  	  	<!-- <xs:choice> -->
 	  		<xs:element name="nuovoInsediamento" minOccurs="0">
  	  			<xs:complexType>
  	  				<xs:sequence>
  	  					<xs:element name="nuovoInsediamentoDataProt" type="pinscia:DataProtType" minOccurs="1" maxOccurs="unbounded" /> 
  	  				</xs:sequence>
  	  			</xs:complexType>
  	  		</xs:element> 
  	  		<xs:element name="rifDocumentazioneTecnicaCatA" type="basic:EmptyType"  minOccurs="0" /> 
  	  		<xs:element name="rifDocumentazioneTecnicaModificheArt4-2011" 	type="basic:EmptyType"  minOccurs="0">
			        <xs:annotation>
			            <xs:documentation>
			            alla documentazione tecnica di progetto di cui alla asseverazione allegata
						(per attività di cat. A,B,C in caso di modifiche di cui art.4, comma 6, del DPR 01/08/2011 n.151, 
						che non comportino aggravio delle preesistenti condizioni di sicurezza)
			            </xs:documentation>
			        </xs:annotation>
	        </xs:element>
  	  	<!-- <xs:choice> -->
  		</xs:sequence>
   	</xs:complexType>
  	  	   
  	<xs:complexType name="DataProtType">
  		<xs:sequence>
    		<xs:element name="data" type="xs:date" />
    		<xs:element name="protocollo" type="xs:string" />
    	</xs:sequence>
  	</xs:complexType>	
  	 
	<!-- Allegati -->
	<xs:complexType name="TabellaAllegatiType">
		<xs:sequence>
			<xs:element name="allegato2_1Asseverazione" type="pinscia:allegato2_1AsseverazioneType" minOccurs="0"/>
			<xs:element name="allegato2_2CertRei" type="pinscia:allegato2_2CertReiType" minOccurs="0"/>
			<xs:element name="allegato2_3DichProdotto" type="pinscia:allegato2_3DichProdottoType" minOccurs="0"/>
			<xs:element name="allegato2_4DichImpianto" type="pinscia:allegato2_4DichImpiantoType" minOccurs="0"/>
			<xs:element name="allegato2_5CertImpianto" type="pinscia:allegato2_5CertImpiantoType" minOccurs="0"/>
			<xs:element name="allegato2_6DichNonAggravioRischio" type="pinscia:allegato2_6DichNonAggravioRischioType" minOccurs="0"/>
			
			<!-- Pin2Gpl
			<xs:element name="allegato2.1-GplAttestazione" type="scia:AllegatiSCIAUnicaType"/>
			<xs:element name="allegato2.7-GplDichDiInstallazione" type="scia:AllegatiSCIAUnicaType"/>
			
			<xs:element name="allegatoGplDichDiRispondenza" type="scia:AllegatiSCIAUnicaType"/>
			
			<xs:element name="allegatoProcuraDelega" type="moduli:AllegatoType" minOccurs="0"/>
			-->
		</xs:sequence>
	</xs:complexType>
 
 
 
	<!-- Allegato 2.1 - ASSEVERAZIONE -->
	<xs:complexType name="allegato2_1AsseverazioneType">
		<xs:complexContent>
			<xs:extension base="moduli:AllegatoType">
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>
							Allegato 2.1 Asseverazione
						</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<!-- verificare se acquisire questi dati - sono acquisiti dal modulo pin2 -->
						<xs:element name="rifPraticaVVF" type="xs:int"/>
						<xs:element name="datiProfessionista" type="pincommon:ProfessionistaType"/>
						<xs:element name="datiProfessionistaUfficio" type="pincommon:ProfessionistaUfficioType"/>
						<xs:element name="domandaLavoriDi" type="pincommon:DomandaLavoriDiType" minOccurs="1" maxOccurs="1"/>
						<xs:element name="attivitaPrincipale" type="pincommon:AttivitaPrincipaleType"/>
						<xs:element name="codiceAttivita" type="pincommon:CodiceAttivitaType" minOccurs="1" maxOccurs="unbounded"/>
						<!-- . -->
						<xs:element name="riferimentoProgetto" type="pinscia:RiferimentoProgettoType" minOccurs="1" maxOccurs="1"/>
						
						<!-- DISTINTA DELLA DOCUMENTAZIONE TECNICA ALLEGATA -->
						<xs:element name="distintaDocumentazioneAllegata" type="pinscia:distintaDocumentazioneAllegataType" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
  
	<xs:complexType name="distintaDocumentazioneAllegataType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
					Nota su obbligatorietà
					La distinta deve essere compilata in ogni sua parte, mediante l’apposizione in ogni riquadro del relativo numero dei modelli allegati
					(riportando il valore 0 per le tipologie di certificazione/dichiarazione non presentate) 
				</xs:documentation>
			</xs:annotation>
			
			<!-- 1. DOCUMENTAZIONE PROGETTUALE -->
			<xs:element name="numFascicoliRelazioneTecnica" type="xs:int" minOccurs="1" default="0"/>
			<xs:element name="numElaboratiGrafici" type="xs:int" minOccurs="1" default="0"/>
			<xs:element name="dicNonAggravioRischioIncendio" 	type="basic:EmptyType"  minOccurs="0"/>
			
			<!-- 2. CERTIFICAZIONI DI ELEMENTI STRUTTURALI PORTANTI  -->
			<xs:element name="numCertificazioniELementiStrutturali" type="xs:int" minOccurs="1" default="0"/>
				
			<!-- 3. DICHIARAZIONI REI  -->
			<xs:element name="numDicREI" type="xs:int" minOccurs="1" default="0"/>	
			
			<!-- 4. DICHIARAZIONI IMPIANTI  -->
			<xs:element name="dichiarazioniImpianti" minOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="voce4I" type="pinscia:NrDocumentiAllegatiType" minOccurs="1" maxOccurs="1" />
						<xs:element name="voce4II" type="pinscia:NrDocumentiAllegatiType" minOccurs="1" maxOccurs="1" />
						<xs:element name="voce4III" type="pinscia:NrDocumentiAllegatiType" minOccurs="1" maxOccurs="1" />
						<xs:element name="voce4IV" type="pinscia:NrDocumentiAllegatiType" minOccurs="1" maxOccurs="1" />
						<xs:element name="voce4V" type="pinscia:NrDocumentiAllegatiType" minOccurs="1" maxOccurs="1" />
						<xs:element name="voce4VI" type="pinscia:NrDocumentiAllegatiType" minOccurs="1" maxOccurs="1" />
						<xs:element name="voce4VII" type="pinscia:NrDocumentiAllegatiType" minOccurs="1" maxOccurs="1" />
						<xs:element name="voce4VIII" type="pinscia:NrDocumentiAllegatiType" minOccurs="1" maxOccurs="1" />
					</xs:sequence>
				</xs:complexType>
			</xs:element> 
			
			<!-- 5. ALTRA EVENTUALE DOCUMENTAZIONE  -->	
			<xs:element name="altraDocumentazioneallegata" type="pincommon:AltraDocumentazioneType"  minOccurs="0" maxOccurs="unbounded" />	
			
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="NrDocumentiAllegatiType">
		<xs:sequence>
			<xs:element name="DC" type="xs:int" minOccurs="0" default="0"/>
			<xs:element name="DI" type="xs:int" minOccurs="0" default="0"/>
			<xs:element name="CI" type="xs:int" minOccurs="0" default="0"/>  			
		</xs:sequence>
	</xs:complexType>
	
	
	
	<!-- Allegato 2.2 - CERTIFICAZIONE REI -->
	<xs:complexType name="allegato2_2CertReiType">
		<xs:complexContent>
			<xs:extension base="moduli:AllegatoType">
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>
							Allegato 2.2 Certificazione REI
						</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="rifPraticaVVF" type="xs:int"/>
						<xs:element name="datiProfessionista" type="pincommon:ProfessionistaAntincendioType"/>
						<xs:element name="datiProfessionistaUfficio" type="pincommon:ProfessionistaUfficioType"/>
						
						<!-- Attività --> 
						<xs:element name="attivitaTipologia" type="xs:string"/>
						<xs:element name="attivitaDescrizione" type="xs:string"/>
						<xs:element name="attivitaSede" type="pincommon:SedeType"/>
						<!-- Proprietà --> 
						<xs:element name="proprietaNome" type="xs:string"/>
						<xs:element name="proprietaSede" type="pincommon:SedeType"/>
						 						 
						<xs:element name="numPagineCertificazione" type="xs:int"/>
						<xs:element name="numElaboratiGrafici" type="xs:int"/>
						
						<!-- TABELLA DEGLI ELEMENTI CERTIFICATI AI FINI DELLA RESISTENZA AL FUOCO --> 
						<xs:element name="tabellaElementiCertificatiREI" type="pinscia:TabellaElementiCertificatiREIType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="TabellaElementiCertificatiREIType">
		<xs:sequence>
			<xs:element name="nrIdentificativo" type="xs:string"/><!-- Verifica Codice Numerico o AlphaN -->
			<xs:element name="elementoTipoPosizione" type="xs:string"/>
			<xs:element name="classeREI" type="xs:string"/>
			<xs:element name="elementoTipoDescrizione" type="xs:string"/>
			
			<xs:choice>
				<xs:element name="metodoTabellare" type="basic:EmptyType" />
				<xs:element name="metodoSperimentale" type="basic:EmptyType" />
				<xs:element name="metodoAnalitico" type="basic:EmptyType" />
			</xs:choice>

			<xs:element name="descrizioneAllegati" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	
	<!-- Allegato 2.3 - DICHIARAZIONE PRODOTTI -->
	<xs:complexType name="allegato2_3DichProdottoType">
		<xs:complexContent>
			<xs:extension base="moduli:AllegatoType">
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>
							Allegato 2.3 Dichiarazione Prodotto
						</xs:documentation>
					</xs:annotation>
				
					<xs:element name="rifPraticaVVF" type="xs:int"/>
					<xs:element name="datiProfessionista" type="pincommon:ProfessionistaAntincendioType"/>
					<xs:element name="datiProfessionistaUfficio" type="pincommon:ProfessionistaUfficioType"/>
					<!-- Attività  --> 
					<xs:element name="identificazioneEdificio" type="pincommon:ImpiantoType"/>
			
					<!--  DICHIARA CHE I PRODOTTI IMPIEGATI RISPONDONO ALLE PRESTAZIONI RICHIESTE -->
					<xs:element name="numPagineCertificazione" type="xs:int"/>
					<xs:element name="numElaboratiGrafici" type="xs:int"/>
					<xs:element name="tabellaProdottiImpiegati" type="pinscia:TabellaProdottiImpiegatiType"/>
					<xs:element name="elencoAllegati" type="pinscia:elencoAllegatiType"/>
				</xs:sequence>		
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	
	
	<!-- TABELLA DEI PRODOTTI IMPIEGATI -->
	<xs:complexType name="TabellaProdottiImpiegatiType">
		<xs:sequence>
			<xs:element name="nrIdentificativo" type="xs:string"/><!-- Verifica Codice Numerico o AlphaN -->
			<xs:element name="classeReazioneFuoco" type="xs:string"/>
			<xs:element name="classeResistenzaFuoco" type="xs:string"/>
			<xs:element name="datiCommercialiProduttore" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
			
	<!-- TABELLA DEI PRODOTTI IMPIEGATI -->
	<xs:complexType name="elencoAllegatiType">
		<xs:sequence>
		<xs:element name="conformitaProdotto" type="basic:EmptyType" />
		<xs:element name="dichiarazioneConformitaCE" type="basic:EmptyType" />
		<xs:element name="certificatoProva" type="basic:EmptyType" />
		<xs:element name="rapportiProva" type="basic:EmptyType" />
		<xs:element name="dichiarazionePosaOpera" type="basic:EmptyType" />
		<xs:element name="dichiarazionePrestazione" type="basic:EmptyType" />
		<xs:element name="altriDocumenti" type="xs:string" />
		</xs:sequence>	
	</xs:complexType>
				

	
	<!-- Allegato 2.4 - DICHIARAZIONE DI CORRETTA INSTALLAZIONE E FUNZIONAMENTO DELL' IMPIANTO -->
	<xs:complexType name="allegato2_4DichImpiantoType">
		<xs:complexContent>
			<xs:extension base="moduli:AllegatoType">
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>
							Allegato 2.4 Dichiarazione Impianto
						</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="rifPraticaVVF" type="xs:int"/>
						<xs:element name="datiAnagraficiInstallatore" type="pincommon:PersonaAnagraficaType"/>
						<xs:element name="inQualitaDi" type="xs:string"/>
						<xs:element name="datiAnagraficiImpresa" type="aggregate:ImpresaAnagraficaType"/>
						
						<xs:element name="impiantoDomandaLavoriDi" type="pincommon:ImpiantoDomandaLavoriDiType"/>
											
						<xs:element name="commissionatoDa" 	type="xs:string" />
						
						<!-- Impianto - Tipologia e Sede di installazione --> 
						<xs:element name="identificazioneImpianto" type="pincommon:ImpiantoType"/>
												
						<!-- Impianto tipologia --> 
						<xs:element name="impiantoTipologiaPin" type="pincommon:ImpiantoTipologiaPinType"/>
						
						<!-- Descrizione --> 
						<xs:element name="denominazioneImpianto" type="xs:string"/>
						<xs:element name="descrizioneImpianto" type="xs:string"/>
						
						<!-- Dichiarazioni -->
						<xs:element name="progettoNomeProgettista" type="xs:string"/>
						<xs:element name="progettoDataProgetto" type="xs:date"/>
						<xs:element name="progettistaAlboProfessionale" type="pincommon:AlboProfessionaleType"/>
						<xs:element name="progettoNormeApplicate" type="xs:string"/>
						
						<xs:element name="allegatiAltro" type="xs:string"/>
					</xs:sequence>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- Allegato 2.5 - CERTIFICAZIONE DI RISPONDENZA E DI CORRETTO FUNZIONAMENTO DELL’IMPIANTO -->
	<xs:complexType name="allegato2_5CertImpiantoType">
		<xs:complexContent>
			<xs:extension base="moduli:AllegatoType">
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>
							Allegato 2.5 Certificazione Impianto
						</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="rifPraticaVVF" type="xs:int"/>
						<xs:element name="datiProfessionista" type="pincommon:ProfessionistaAntincendioType"/>
						<xs:element name="datiProfessionistaUfficio" type="pincommon:ProfessionistaUfficioType"/>
						
						<xs:element name="impiantoDomandaLavoriDi" type="pincommon:ImpiantoDomandaLavoriDiType"/>
						
						<!-- Impianto - Tipologia e Sede di installazione --> 
						<xs:element name="identificazioneImpianto" type="pincommon:ImpiantoType"/>
												
						<!-- Impianto tipologia --> 
						<xs:element name="impiantoTipologiaPin" type="pincommon:ImpiantoTipologiaPinType"/>
						
						<!-- Descrizione --> 
						<xs:element name="denominazioneImpianto" type="xs:string"/>
						<xs:element name="descrizioneImpianto" type="xs:string"/>
						
						<!-- Certifica --> 
						<xs:element name="disposizioniPinVVF" type="xs:string"/>
						<xs:element name="normeBuonaTecnica" type="xs:string"/>
					</xs:sequence>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- Allegato 2.6 - Dichiarazione di non aggravio rischio --> 
	<xs:complexType name="allegato2_6DichNonAggravioRischioType">
		<xs:complexContent>
			<xs:extension base="moduli:AllegatoType">
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>
							Allegato 2.6 Dichiarazione di non aggravio rischio
						</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="rifPraticaVVF" type="xs:int"/>
						<xs:element name="datiProfessionista" type="pincommon:ProfessionistaAntincendioType"/>
						<xs:element name="datiProfessionistaUfficio" type="pincommon:ProfessionistaUfficioType"/>
						<!-- Attività  --> 
						<xs:element name="dichiarazioneNonAggravioRischio" type="pinscia:dichiarazioneNonAggravioRischioType"/>
						<xs:element name="dataPresentazioneSCIA" type="xs:date" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="schedaSinteticaAggravioRischio" type="xs:string"/>			
												
						<!--  Eventuale documentazione -->
						<xs:element name="documentazioneEventualeType" type="pincommon:AltraDocumentazioneType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!--  Dichiarazione aggravio rischio -->
	<xs:complexType name="dichiarazioneNonAggravioRischioType">
		<xs:sequence>
			<xs:element name="attivitaSede" type="pincommon:SedeType"/>
			<xs:element name="attivitaElenco" type="pincommon:CodiceAttivitaType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

 
</xs:schema>